*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
.container h1{
    background-color: #ddd;
    color: #222;
    padding: 10px 16px;
    border-radius: 10px;
}

.container button {
    margin-top: 1rem;
    font-size: inherit;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #222;
    color: #efefef;
    transition: background-color  0.15s;
}

.container button:hover{
    cursor: pointer;
    background-color: #333;
}